<!---- Footer start-->
{% load static %}
                <div class="row mt-5" >

                    <div class="col-md-4">
                           <h5>Address</h5>
                           <hr>
                           <p>Ekart Pvt Ltd</p>
                           <p>
                                 Ishan Archade 1, <br>
                                 2nd floor, <br>
                                 Thane-West
                           </p>
                           <p>Mail:ekart@gmail.com</p>
                           <p>call:+919898989898</p>
                    </div>
                    <div class="col-md-4">
                           <h5>Quick Links</h5>
                           <hr>
                           <ul type="none">
                                 <li><a href=" " class="anchor">Home</a></li>
                                 <li><a href="/about" class="anchor">About</a></li>
                                 <li><a href="/cart" class="anchor">Cart</a></li>
                                 <li><a href="/contact" class="anchor">Contact</a></li>
                           </ul>
                    </div>
                    <div class="col-md-4">
                           <h5>Connect Us</h5>
                           <hr>
                           <h4><a href="https://www.facebook.com/"><i class="bi bi-facebook text-danger"></i></a></h4>
                           <h4><a href="https://twitter.com/login?lang=en"><i class="bi bi-twitter text-danger"></i></a></h4>
                           <h4><a href="https://in.linkedin.com/"><i class="bi bi-linkedin text-danger"></i></a></h4>
                           <h4><a href="https://www.instagram.com/"><i class="bi bi-instagram text-danger"></i></a></h4>
                    </div>
           </div>
   </div>
   
   <script src="{% static 'assets/js/popper.min.js' %}"></script>
   <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>
</html>